<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Metodos Numericos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <!-- <script src="./js/jquery-1.11.3.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

</head>

<body>
    <div id="app">
        <v-app id="inspire" dark>
            <v-navigation-drawer clipped fixed v-model="drawer" app>
                <v-list dense>
                    <v-list-tile @click="">
                        <v-list-tile-action>
                            <v-icon>dashboard</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Bisección</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile @click="">
                        <v-list-tile-action>
                            <v-icon>settings</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                            <v-list-tile-title>Settings</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
            <v-toolbar app fixed clipped-left>
                <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title>Menu</v-toolbar-title>
            </v-toolbar>
            <v-content>
                <v-layout row wrap>
                    <v-flex xs12 sm2 md2 pl-3 pt-4>
                        <v-text-field label="f(x) =" outline v-model="funDeXs"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm2 md2 pl-3 pt-4>
                        <v-text-field label="Xi =" outline v-model="Xi"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm2 md2 pl-3 pt-4>
                        <v-text-field label="Xf =" outline v-model="Xf"></v-text-field>
                    </v-flex>
                    <v-flex xs12 sm1 md1 pt-2 pl-3>
                        <v-btn fab dark large color="light-green" @click="resolver">
                            <v-icon dark>subdirectory_arrow_left</v-icon>
                        </v-btn>
                    </v-flex>

                </v-layout>
                <template>
                    <v-data-table :headers="headers" :items="evaluacion" hide-actions class="elevation-1">
                        <template slot="items" slot-scope="props">
                            <td>{{ props.item.numero }}</td>
                            <td class="text-xs-left">{{ props.item.Xi }}</td>
                            <td class="text-xs-left">{{ props.item.Xf }}</td>
                            <td class="text-xs-left">{{ props.item.Xm }}</td>
                            <td class="text-xs-left">{{ props.item.fXi }}</td>
                            <td class="text-xs-left">{{ props.item.fXm }}</td>
                            <td class="text-xs-left">{{ props.item.fXifXm }}</td>
                            <td class="text-xs-left">{{ props.item.Er }}</td>
                        </template>
                        <template slot="no-data">
                            <v-alert :value="true" color="error" icon="warning">
                                Verifique los datos de entrada!!
                            </v-alert>
                        </template>
                    </v-data-table>
                </template>

            </v-content>
            <v-footer app fixed>
                <span>&copy; 2018 Bracamonte</span>
            </v-footer>
        </v-app>
    </div>

    <script src="./js/math.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: () => ({
                drawer: false,
                funDeXs: 'X^2-1',
                Xi: '0',
                Xf: '4',
                evaluacion: [],
                headers: [{
                    text: '#',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
                {
                    text: 'Xi',
                    sortable: false,
                    value: 'Xi'
                },
                {
                    text: 'Xf',
                    sortable: false,
                    value: 'Xf'
                },
                {
                    text: 'Xm',
                    sortable: false,
                    value: 'Xm'
                },
                {
                    text: 'f(Xi)',
                    sortable: false,
                    value: 'fXi'
                },
                {
                    text: 'f(Xm)',
                    sortable: false,
                    value: 'fXm'
                },
                {
                    text: 'f(Xi)*f(Xm)',
                    sortable: false,
                    value: 'fXifXm'
                },
                {
                    text: 'Er',
                    sortable: false,
                    value: 'Er'
                }
                ],

            }),
            watch: {},
            methods: {
                resolver() {

                    var cont = 1
                    let a, b, m, fXi, fXf, fXm, FxifXm, eR, Xr
                    this.eR = 80
                    this.Xr = ''
                    this.a = this.Xi
                    this.b = this.Xf
                    while (this.eR > 0.1) {
                        this.m = this.puntoMedio()
                        this.fXi = this.evaluarXi()
                        this.fXm = this.evaluarXm()
                        this.fXifXm = this.evaluarXiXn()

                        if (this.fXifXm > 0) {
                            this.Xr = 'a'
                            this.eR = ((parseFloat(this.m) - parseFloat(this.a)) / parseFloat(this.m)) * 100
                        } else {
                            this.Xr = 'b'
                            this.eR = ((parseFloat(this.m) - parseFloat(this.b)) / parseFloat(this.m)) * 100
                            this.eR = this.eR.toString().replace('-', '')
                        }

                        this.evaluacion.push({
                            numero: cont,
                            Xi: this.a,
                            Xf: this.b,
                            Xm: this.m,
                            fXi: this.funDeXs.toLowerCase().replace('x', '(' + this.a + ')') + '= ' + this.fXi,
                            fXm: this.funDeXs.toLowerCase().replace('x', '(' + this.m + ')') + '= ' + this.fXm,
                            fXifXm: '(' + this.fXi + ')*(' + this.fXm + ')= ' + this.fXifXm,
                            Er: this.eR + '%'
                        })

                        this.Xr == 'a' ? this.a = this.m : this.b = this.m
                        cont++

                    }
                },
                puntoMedio() {
                    return (parseFloat(this.a) + parseFloat(this.b)) / 2
                },
                evaluarXi() {
                    return math.eval(this.funDeXs.toLowerCase().replace('x', '(' + this.a + ')'))
                },
                evaluarXm() {
                    return math.eval(this.funDeXs.toLowerCase().replace('x', '(' + this.b + ')'))
                },
                evaluarXiXn() {
                    return math.eval(this.fXi * this.fXm)
                }
            },

            props: {
                source: String
            }
        })
    </script>
</body>

</html>